img {
    height: 50%;
    width: 75%;
}

h1 {
    font-size: 44px;
    font-weight: bold;
    font-size: 60px;
    color:#000000;
    margin: 0px 0;
    text-align: center;
    font-family: 'Amatic SC', cursive;
}

.b1, .b2 {
    background-color: #aee1e1;
    border: none;
    border-radius: 33px;
    width: 100px;
    height: 33px;
    color: rgb(8, 8, 8);
}

select {
    display: inline;
}

.dropDown, .sort {
    font-size: large;
    font-family: 'Amatic SC';
    text-align: center;
    /* display: block; */
}

.drop {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px;
    height: 19vh;
}

.person-template {
    background-color: #d3e0dc;
    width: calc((100% /4));
    border: 1px solid;
    padding: 10px 20px;
    text-align: center;
    height: 400px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 1), 0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
}

.person-template>* {
    margin: 10px 0px;
}

.person-template span {
    display: block;
    font-size: 18px;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 40px;
    padding: 0 10px;
}

header {
    background-color: #fcd1d1;
}

.ss {
    font-size: 30px;
}